body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#mycanvas {
    border: 1px solid #000;
    cursor: url('src/cursor.cur'), default;
}

#menu {
    text-align: center;
}

#easyButton {
    padding: 5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#easyButton:hover {
    background-color: #0056b3;
}

#mediumButton {
    padding: 5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#mediumButton:hover {
    background-color: #0056b3;
}

#hardButton {
    padding: 5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#hardButton:hover {
    background-color: #0056b3;
}

#timer {
    position: absolute;
    top: 30px;
    left: 220px;
    background-color: #b6f77b;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

#muteButton {
    background-image: url('src/unmute.png');
    background-size: cover;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
}
/* Estilos para la capa modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #f2f2f2;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el botón "Aceptar" */
#restartButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#restartButton:hover {
    background-color: #45a049;
}



